@media (min-width:320px) and (max-width:575px){
    .navbar-brand img{
        width: 80%;
    }
    nav ul li .dropdown {
        display: none;
    }
    nav .button a {
    
        padding: 10px 25px;
       
    }
    .banner__hadding {
        font-size: 45px;
        line-height: 50px;
        margin-top: 51px;
        width: auto;
    }
    .banner__pera {
        font-size: 14px;
        line-height: 25px;
        width: auto;
        
    }
    .banner__buttom {
       padding: 10px;
    }
    .banner__i {
        margin-left: 10px;
    }
    .banner_downpera {
        font-size: 14px;
     
        width: auto;
        margin-top: 10px;
    }
    .banner__left {
        margin-top: 20px;
    }
    .banner__img {
        width: 100%;
       margin-top: 0;
    }
    .logo-part__hadding {
        width: auto;
    }
    .logo-part__img .col{
        text-align: center;
    }
    .logo-part__img img{
        margin-top: 20px;
    }
    .media__hadding {
      
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        width: auto;
        margin: 20px 0;
    }
    #active {
        margin-top: 0px;
    }
    .active__hadding {
        font-size: 40px;
        line-height: 40px;
        width: auto;
        margin-top: 20px;
        text-align: center;
    }
    .active__pera {

        font-size: 14px;
        line-height: 23px;
        width: auto;
       
        text-align: center;
    }
    .active__buttom {

	font-size: 14px;
	
	padding: 10px 20px;
	
}
.active__downimg{
    margin-top: 20px;
    width: 100%;
}
.dailyactive__upimg{
    width: 100%;
}
    #testimonal{
        margin-top: 50px;
    }
    .testimoal__main__title {
        font-size: 40px;
     
        width: auto;
        
    }
    .testimonal__pera {
       width: auto;
    }
    .faqs__hadding {
      font-size: 40px;
        width: auto;
        text-align: center;
    }
    #faqs {
        margin-top: 50px;
    }
    .faqs__pera {
        font-size: 14px;
        width: auto;
        text-align: center;
    }
    .faqs__buttom {
        padding: 10px;
    }
    .community__box {
        width: auto;
        padding: 20px;
    
    }
    .community__title {
        font-size: 20px;
      
        font-weight: 700;
     
        width: auto;
      
    }
    .cta__hadding {
        color: #FFFFFF;
        width: auto;
        font-size:40px;
        text-align: center;
        line-height: 45px;
    }
    .cta__buttom {
        padding: 10px;
    }
    .footer__itempera {
        width: auto;
        font-size: 14px;
    }
    .footer__ul {
        margin-bottom: 50px;
    }
    .footer__downright {

        text-align: center;
    }
    .footer__downh2 {
  
        text-align: center;
    }
  
}
@media (min-width:576px) and (max-width:767px){
    .navbar-brand img{
        width: 80%;
    }
    nav ul li .dropdown {
        display: none;
    }
    nav .button a {
    
        padding: 10px 25px;
       
    }
    .banner__hadding {
        font-size: 45px;
        line-height: 50px;
        margin-top: 51px;
        width: auto;
    }
    .banner__pera {
        font-size: 14px;
        line-height: 25px;
        width: auto;
        
    }
    .banner__buttom {
       padding: 10px;
    }
    .banner__i {
        margin-left: 10px;
    }
    .banner_downpera {
        font-size: 14px;
     
        width: auto;
        margin-top: 10px;
    }
    .banner__left {
        margin-top: 20px;
    }
    .banner__img {
        width: 100%;
       margin-top: 0;
    }
    .logo-part__hadding {
        width: auto;
    }
    .logo-part__img .col{
        text-align: center;
    }
    .logo-part__img img{
        margin-top: 20px;
    }
    .media__hadding {
      
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        width: auto;
        margin: 20px 0;
    }
    #active {
        margin-top: 0px;
    }
    .active__hadding {
        font-size: 40px;
        line-height: 40px;
        width: auto;
        margin-top: 20px;
        text-align: center;
    }
    .active__pera {

        font-size: 14px;
        line-height: 23px;
        width: auto;
       
        text-align: center;
    }
    .active__buttom {

	font-size: 14px;
	
	padding: 10px 20px;
	
}
.active__downimg{
    margin-top: 20px;
    width: 100%;
}
.dailyactive__upimg{
    width: 100%;
}
    #testimonal{
        margin-top: 50px;
    }
    .testimoal__main__title {
        font-size: 40px;
     
        width: auto;
        
    }
    .testimonal__pera {
       width: auto;
    }
    .faqs__hadding {
      font-size: 40px;
        width: auto;
        text-align: center;
    }
    #faqs {
        margin-top: 50px;
    }
    .faqs__pera {
        font-size: 14px;
        width: auto;
        text-align: center;
    }
    .faqs__buttom {
        padding: 10px;
    }
    .community__box {
        width: auto;
        padding: 20px;
    
    }
    .community__title {
        font-size: 20px;
      
        font-weight: 700;
     
        width: auto;
      
    }
    .cta__hadding {
        color: #FFFFFF;
        width: auto;
        font-size:40px;
        text-align: center;
        line-height: 45px;
    }
    .cta__buttom {
        padding: 10px;
    }
    .footer__item{
        margin-bottom: 50px;
    }
    .footer__itempera {
        width: auto;
        font-size: 14px;
    }
    .footer__ul {
        margin-bottom: 50px;
    }
    .footer__downright {

        text-align: center;
    }
    .footer__downh2 {
  
        text-align: center;
    }
  
}
@media (min-width:768px) and (max-width:991px){
    .navbar-brand img{
        width: 100%;
    }
    nav ul li .dropdown {
        display: none;
    }
    nav .button a {
    
        padding: 10px 25px;
       
    }
    .banner__hadding {
        font-size: 45px;
        line-height: 50px;
        margin-top: 51px;
        width: auto;
    }
    .banner__pera {
        font-size: 14px;
        line-height: 25px;
        width: auto;
        
    }
    .banner__buttom {
       padding: 10px;
    }
    .banner__i {
        margin-left: 10px;
    }
    .banner_downpera {
        font-size: 14px;
     
        width: auto;
        margin-top: 10px;
    }
    .banner__left {
        margin-top: 20px;
    }
    .banner__img {
        width: 100%;
       margin-top: 0;
    }
    .logo-part__hadding {
        width: auto;
    }
    .logo-part__img .col{
        text-align: center;
    }
    .logo-part__img img{
        margin-top: 20px;
    }
    .media__hadding {
      
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        width: auto;
        margin: 20px 0;
    }
    #active {
        margin-top: 30px;
    }
    .active__hadding {
        font-size: 40px;
        line-height: 40px;
        width: auto;
        margin-top: 20px;
        text-align: center;
    }
    .active__pera {

        font-size: 14px;
        line-height: 23px;
        width: auto;
       
        text-align: center;
    }
    .active__buttom {

	font-size: 14px;
	
	padding: 10px 20px;
	
}
.active__downimg{
    margin-top: 20px;
    width: 100%;
}
.dailyactive__upimg{
    width: 100%;
}
    #community {
	margin-top: 50px;

    }
    #testimonal{
        margin-top: 50px;
    }
    .testimoal__main__title {
        font-size: 40px;
     
        width: auto;
        
    }
    .testimonal__pera {
       width: auto;
    }
    .faqs__hadding {
      font-size: 40px;
        width: auto;
        text-align: center;
    }
    #faqs {
        margin-top: 50px;
    }
    .faqs__pera {
        font-size: 14px;
        width: auto;
        text-align: center;
    }
    .faqs__buttom {
        padding: 10px;
    }
    .community__box {
        width: auto;
        padding: 20px;
    
    }
    .community__title {
        font-size: 20px;
      
        font-weight: 700;
     
        width: auto;
      
    }
    .cta__hadding {
        color: #FFFFFF;
        width: auto;
        font-size:40px;
        text-align: center;
        line-height: 45px;
    }
    .cta__buttom {
        padding: 10px;
    }
    .footer__item{
        margin-bottom: 50px;
    }
    .footer__itempera {
        width: auto;
        font-size: 14px;
    }
    .footer__ul {
        margin-bottom: 50px;
    }
    .footer__downright {

        text-align: center;
    }
    .footer__downh2 {
  
        text-align: center;
    }
  
}
@media (min-width:992px) and (max-width:1200px){
    .navbar-brand img{
        width: 100%;
    }
    nav ul li .dropdown {
        display: none;
    }
    nav .button a {
    
        padding: 10px 25px;
       
    }
    .banner__hadding {
        font-size: 45px;
        line-height: 50px;
        margin-top: 51px;
        width: auto;
    }
    .banner__pera {
        font-size: 14px;
        line-height: 25px;
        width: auto;
        
    }
    .banner__buttom {
       padding: 10px;
    }
    .banner__i {
        margin-left: 10px;
    }
    .banner_downpera {
        font-size: 14px;
     
        width: auto;
        margin-top: 10px;
    }
    .banner__left {
        margin-top: 20px;
    }
    .banner__img {
        width: 100%;
       margin-top: 0;
    }
    .logo-part__hadding {
        width: auto;
    }
    .logo-part__img .col{
        text-align: center;
    }
    .logo-part__img img{
        margin-top: 20px;
    }
    .media__hadding {
      
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        width: auto;
        margin: 20px 0;
    }
    .media__pera {
       width: auto;
    }
    #active {
        margin-top: 30px;
    }
    .active__hadding {
        font-size: 40px;
        line-height: 40px;
        width: auto;
        margin-top: 20px;
        text-align: center;
    }
    .active__pera {

        font-size: 14px;
        line-height: 23px;
        width: auto;
       
        text-align: center;
    }
    .active__buttom {

	font-size: 14px;
	
	padding: 10px 20px;
	
}
.active__downimg{
    margin-top: 20px;
    width: 100%;
}
.dailyactive__upimg{
    width: 100%;
}
    #community {
	margin-top: 50px;

    }
    #testimonal{
        margin-top: 50px;
    }
    .testimoal__main__title {
        font-size: 40px;
     
        width: auto;
        
    }
    .testimonal__pera {
       width: auto;
    }
    .faqs__hadding {
      font-size: 40px;
        width: auto;
        text-align: center;
    }
    #faqs {
        margin-top: 50px;
    }
    .faqs__pera {
        font-size: 14px;
        width: auto;
        text-align: center;
    }
    .faqs__buttom {
        padding: 10px;
    }
    .community__box {
        width: auto;
        padding: 20px;
    
    }
    .community__title {
        font-size: 20px;
      
        font-weight: 700;
     
        width: auto;
      
    }
    .cta__hadding {
        color: #FFFFFF;
        width: auto;
        font-size:40px;
        text-align: center;
        line-height: 45px;
    }
    .cta__buttom {
        padding: 10px;
    }
    .footer__item{
        margin-bottom: 50px;
    }
    .footer__itempera {
        width: auto;
        font-size: 14px;
    }
    .footer__ul {
        margin-bottom: 50px;
    }
    .footer__downright {

        text-align: center;
    }
    .footer__downh2 {
  
        text-align: center;
    }
  
}